@page
@model BikeStore.App.Web.Pages.VentasModel
@{
     ViewData["Title"] = "Gestion Ventas";
}
<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Ventas
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-const" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#modalFactura" hidden>
            Factura Venta
        </button>
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#exampleModal" onclick="editar('Ventas');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" onclick="crear('Ventas');">
            Crear
        </button>
    </div>

    <!-- Modal Creacion y actualizacion venta -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registro de Ventas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="cantidadProducto">Cantidad Producto</label>
                                    <input type="number" name="cantidadProducto" id="cantidadProducto" class="form-control"
                                        placeholder="Ingrese la cantidad del producto" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="valorVenta">Valor Venta</label>
                                    <input type="number" name="valorVenta" id="valorVenta" class="form-control"
                                        placeholder=" Ingrese el Valor Venta" aria-describedby="helpId"
                                        minlength="3" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="trabajador">Trabajador</label>
                                    <select name="trabajador" class="form-control">
                                        <option value="">Seleccione un Trabajador</option>
                                        @foreach (var trabajador in Model.listadoTrabajador)
                                        {
                                            <option value="@trabajador.Id">@trabajador.Nombre @trabajador.Apellido id=@trabajador.Id</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="cliente">Cliente</label>
                                    <select name="cliente" class="form-control">
                                        <option value="">Seleccione un Cliente</option>
                                        @foreach (var cliente in Model.listadoCliente)
                                        {
                                            <option value="@cliente.Id">@cliente.Nombre @cliente.Apellido id=@cliente.Id</option>
                                        }
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="inventario">Inventario</label>
                                    <input type="number" name="inventario" id="inventario" class="form-control"
                                        placeholder="Ingrese la cantidad de productos en el Inventario" aria-describedby="helpId"
                                        minlength="3" maxlength="50">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" id="btn-create-modal" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Factura venta -->
    <div class="modal fade" id="modalFactura" tabindex="-1" role="dialog" aria-labelledby="modalFactura"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Factura venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post"> 
                                <div class="form-group">
                                    <label for="fechaFacturaVenta">Fecha</label>
                                    <input type="text" name="fechaFacturaVenta" id="fechaFacturaVenta" class="form-control"
                                        placeholder="Ingrese el nombre del Cliente" aria-describedby="helpId"
                                        minlength="3" maxlength="50" value="12/09/2022" disabled>
                                </div>  
                                <div class="form-">
                                    <label for="clienteFacturaVenta">Cliente</label>
                                    <input type="text" name="clienteFacturaVenta" id="clienteFacturaVenta" class="form-control"
                                        placeholder="Ingrese el nombre del Cliente" aria-describedby="helpId"
                                        minlength="3" maxlength="50" value="Pepito Perez" disabled>
                                </div>  
                                <div class="form-group">
                                    <label for="vendedorFacturaVenta">Vendedor</label>
                                    <input type="text" name="vendedorFacturaVenta" id="vendedorFacturaVenta" class="form-control"
                                        placeholder="Ingrese el nombre del Trabajador" aria-describedby="helpId"
                                        minlength="3" maxlength="50" value="Paula Diaz" disabled>
                                </div>
                                 <div class="form-group">
                                    <label for="productoFacturaVenta">Producto</label>
                                    <input type="text" name="productoFacturaVenta" id="productoFacturaVenta" class="form-control"
                                        placeholder="Ingrese la cantidad de productos en el Inventario" aria-describedby="helpId"
                                        minlength="3" maxlength="50" value="Bicicleta Gris X" disabled>
                                </div>                          
                                <div class="form-group">
                                    <label for="cantidadProductoFacturaVenta">Cantidad de Productos</label>
                                    <input type="number" name="cantidadProductoFacturaVenta" id="cantidadProductoFacturaVenta" class="form-control"
                                        placeholder="Ingrese la cantidad del producto" aria-describedby="helpId" minlength="3"
                                        maxlength="50" value="2" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="valorVentaFacturaVenta">Valor Venta</label>
                                    <input type="number" name="valorVentaFacturaVenta" id="valorVentaFacturaVenta" class="form-control"
                                        placeholder=" Ingrese el Valor Venta" aria-describedby="helpId"
                                        minlength="3" maxlength="50" value="$ 1.200.000" disabled>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="imprimir('modalFactura')">Imprimir</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Ventas
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cantidad del Producto</th>
                        <th>Valor Venta</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Inventario</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cantidad del Producto</th>
                        <th>Valor Venta</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Inventario</th>                        
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var item in Model.listadoVenta){
                        <tr onclick="seleccionarRegistro();">
                        <td>@item.Id</td>
                        <td>@item.Fecha</td>
                        <td>@item.CantidadProducto</td>
                        <td>@item.ValorVenta</td>
                        <td>@item.Trabajador</td>
                        <td>@item.Cliente</td>
                        <td>@item.Inventario</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>