@page
@model BikeStore.App.Web.UsuariosModel
@{
    ViewData["Title"] = "Gestion Trabajadores";
}

<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Trabajadores
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#exampleModal" onclick="editar('Trabajador');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" onclick="crear('Trabajador');">
            Crear
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registro Trabajadores</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="cedula">Cédula</label>
                                    <input type="number" name="cedula" id="cedula" class="form-control"
                                        placeholder="Ingrese su numero de cedula" aria-describedby="helpId"
                                        minlength="3" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="text" name="nombre" id="nombre" class="form-control"
                                        placeholder="Ingrese el nombre" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellidos</label>
                                    <input type="text" name="apellido" id="apellido" class="form-control"
                                        placeholder="Ingrese el apellido" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="numeroTelefono">Número de Teléfono</label>
                                    <input type="tel" name="numeroTelefono" id="numeroTelefono" class="form-control"
                                        placeholder="Ingrese el Telefono" aria-describedby="helpId" min="3000000000"
                                        max="3999999999" step="1">
                                </div>
                                <div class="form-group">
                                    <label for="nombreUsuario">Nombre usuario</label>
                                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                                        placeholder="Ingrese el Nombre usuario" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="contraseña">Contraseña</label>
                                    <input type="password" name="contraseña" id="contraseña" class="form-control"
                                        placeholder="Ingrese contraseña" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="salario">Salario</label>
                                    <input type="number" name="salario" id="salario" class="form-control"
                                        placeholder="Ingrese salario" aria-describedby="helpId" minlength="3"
                                        maxlength="50"step="1">
                                </div>
                                <div class="form-group">
                                    <label for="rol">Rol</label>
                                    <select class="form-select form-control" aria-label="Default select example">
                                        <option selected>Seleccionar...</option>
                                        <option value="1">Comercial</option>
                                        <option value="2">Jefe Operativo</option>
                                        <option value="3">Bodeguero</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" id="btn-create-modal" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Trabajadores
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número Teléfono</th>
                        <th>Nombre de usuario</th>
                        <th>Salario</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número Teléfono</th>
                        <th>Nombre de usuario</th>
                        <th>Salario</th>
                        <th>Rol</th>
                    </tr>
                </tfoot>
                <tbody>
                    @* Explicacion en el video 02/09 min 2:52:16 *@
                    @foreach(var item in Model.listadoTrabajador){
                        <tr onclick="seleccionarRegistro();">
                            <td>@item.Id</td>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.NumeroTelefono</td>
                            <td>@item.NombreUsuario</td>
                            <td>@item.Salario</td>
                            <td>@item.Rol</td>
                        </tr>
                    }
                    @* <tr onclick="seleccionarRegistro();">
                        <td>1</td>
                        <td>113425634</td>
                        <td>Fernando</td>
                        <td>Guzman</td>
                        <td>324032123</td>
                        <td>Guz123</td>
                        <td>$1,320,800</td>
                        <td>Comercial</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>2</td>
                        <td>113425634</td>
                        <td>Fernando</td>
                        <td>Guzman</td>
                        <td>324032123</td>
                        <td>Guz123</td>
                        <td>$1,320,800</td>
                        <td>Bodeguero</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>3</td>
                        <td>113425634</td>
                        <td>Fernando</td>
                        <td>Guzman</td>
                        <td>324032123</td>
                        <td>Guz123</td>
                        <td>$1,320,800</td>
                        <td>Jefe Operativo</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>4</td>
                        <td>113425634</td>
                        <td>Fernando</td>
                        <td>Guzman</td>
                        <td>324032123</td>
                        <td>Guz123</td>
                        <td>$1,320,800</td>
                        <td>Jefe Operativo</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();">
                        <td>5</td>
                        <td>113425634</td>
                        <td>Fernando</td>
                        <td>Guzman</td>
                        <td>324032123</td>
                        <td>Guz123</td>
                        <td>$1,320,800</td>
                        <td>Jefe Operativo</td>
                    </tr>
                    <tr onclick="seleccionarRegistro();"s>
                        <td>6</td>
                        <td>113425634</td>
                        <td>Fernando</td>
                        <td>Guzman</td>
                        <td>324032123</td>
                        <td>Guz123</td>
                        <td>$1,320,800</td>
                        <td>Jefe Operativo</td>
                    </tr> *@
                </tbody>
            </table>
        </div>
    </div>
</div>