@page
@model BikeStore.App.Web.UsuariosModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gestion Usuarios";
    ViewData["script"] = "Usuarios.js"; 
}

<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Trabajadores
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#ModalActualizar" onclick="editar('Trabajador');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#ModalCrear" onclick="crear('Trabajador');">
            Crear
        </button>
    </div>

    <!-- ModalCrear -->
    <div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCrearLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registrar Trabajador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <label for="cedula">Cédula</label>
                                    <input type="number" name="cedula" id="cedula" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese su numero de cedula" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de la cédula.
                                    </div>                                
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="text" name="nombre" id="nombre" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el nombre" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el nombre.
                                    </div>                                
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellidos</label>
                                    <input type="text" name="apellido" id="apellido" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el apellido" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el apellido.
                                    </div>  
                                </div>
                                <div class="form-group">
                                    <label for="numeroTelefono">Número de Teléfono</label>
                                    <input type="number" name="numeroTelefono" id="numeroTelefono" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el Telefono" aria-describedby="invalid-feedback" min="3000000000" max="3999999999" step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de teléfono.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombreUsuario">Nombre de Usuario</label>
                                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" placeholder="Ingrese el Nombre usuario" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                    Ingrese el nombre de usuario.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese un password" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                    Ingrese un password.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="salario">Salario</label>
                                    <input type="number" name="salario" id="salario" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese salario" aria-describedby="invalid-feedback" minlength="3" maxlength="50"step="1" required>
                                    <div class="invalid-feedback">
                                    Ingrese un número con el salario.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rol">Rol</label>
                                    <select name="rol" id="rol" class="form-select form-control" aria-label="Default select example" required>
                                        <option value="" selected>Seleccionar...</option>
                                        @* como mejora a futuro se podria hacer de forma dinamica consultando la base de datos *@
                                        <option value="1">Comercial</option>
                                        <option value="2">Jefe Operativo</option>
                                        <option value="3">Bodeguero</option>
                                    </select>
                                    <div class="invalid-feedback">
                                    Seleccionar un rol...
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" id="btn-create-modal" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalActualizar -->
    <div class="modal fade" id="ModalActualizar" tabindex="-1" aria-labelledby="ModalActualizarLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Actualizar Trabajador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="formEditar" class="needs-validation" novalidate>
                                @Html.AntiForgeryToken()
                                <input type="number" name="idUpdate" id="idUpdate" class="form-control" readonly hidden>
                                <div class="form-group">
                                    <label for="cedulaUpdate">Cédula</label>
                                    <input type="number" name="cedulaUpdate" id="cedulaUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese su numero de cedula" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de la cédula.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombreUpdate">Nombres</label>
                                    <input type="text" name="nombreUpdate" id="nombreUpdate" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el nombre" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el nombre.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="apellidoUpdate">Apellidos</label>
                                    <input type="text" name="apellidoUpdate" id="apellidoUpdate" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el apellido" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el apellido.
                                    </div>  
                                </div>
                                <div class="form-group">
                                    <label for="numeroTelefonoUpdate">Número de Teléfono</label>
                                    <input type="number" name="numeroTelefonoUpdate" id="numeroTelefonoUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el Telefono" aria-describedby="invalid-feedback" min="3000000000" max="3999999999" step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de teléfono.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombreUsuarioUpdate">Nombre de Usuario</label>
                                    <input type="text" name="nombreUsuarioUpdate" id="nombreUsuarioUpdate" class="form-control" placeholder="Ingrese el Nombre usuario" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                    Ingrese el nombre de usuario.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passwordUpdate">Contraseña</label>
                                    <input type="password" name="passwordUpdate" id="passwordUpdate" class="form-control" placeholder="Ingrese contraseña" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                    Ingrese una contraseña fuerte.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="salarioUpdate">Salario</label>
                                    <input type="number" name="salarioUpdate" id="salarioUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese salario" aria-describedby="invalid-feedback" minlength="3" maxlength="50"step="1" required>
                                    <div class="invalid-feedback">
                                    Ingrese un número con el salario.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rolUpdate">Rol</label>
                                    <select name="rolUpdate" id="rolUpdate" class="form-select form-control" aria-label="Default select example" required>
                                        <option value="">Seleccionar...</option>
                                        @* como mejora a futuro se podria hacer de forma dinamica consultando la base de datos *@
                                        <option value="1">Comercial</option>
                                        <option value="2">Jefe Operativo</option>
                                        <option value="3">Bodeguero</option>
                                    </select>
                                    <div class="invalid-feedback">
                                    Seleccionar un rol...
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" id="btn-update-modal" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla general -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Trabajadores
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número Teléfono</th>
                        <th>Nombre de usuario</th>
                        <th>Salario</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número Teléfono</th>
                        <th>Nombre de usuario</th>
                        <th>Salario</th>
                        <th>Rol</th>
                    </tr>
                </tfoot>
                @* Explicacion en el video 02/09 min 2:52:16 *@
                <tbody>
                    @foreach(var item in Model.listadoTrabajador){
                        <tr onclick="seleccionarRegistroTabla(this,'@item.Id','@item.Cedula','@item.Nombre','@item.Apellido','@item.NumeroTelefono','@item.NombreUsuario','@item.Salario','@item.Rol');">
                            <td>@item.Id</td>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.NumeroTelefono</td>
                            <td>@item.NombreUsuario</td>
                            <td>$ @item.Salario</td>
                            @if (item.Rol == 1){ <td>Comercial</td>}else if(item.Rol == 2){<td>Jefe Operativo</td>}else if(item.Rol == 3){<td>Bodeguero</td>}
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>