@page
@model BikeStore.App.Web.Pages.GestionClientesModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gestion Clientes";
    ViewData["script"] = "GestionClientes.js"; 
}

<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Clientes
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#ModalActualizar" onclick="editar('Clientes');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#ModalCrear" onclick="crear('Clientes');">
            Crear
        </button>
    </div>


    <!-- ModalCrear -->
    <div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCrearLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registrar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <label for="cedula">Cédula</label>
                                    <input type="number" name="cedula" id="cedula" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese su numero de cedula" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de la cédula.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="text" name="nombre" id="nombre" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el nombre" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el nombre.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellidos</label>
                                    <input type="text" name="apellido" id="apellido" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el apellido" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el apellido.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="numeroTelefono">Número de Teléfono</label>
                                    <input type="number" name="numeroTelefono" id="numeroTelefono" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el Telefono" aria-describedby="invalid-feedback" min="3000000000" max="3999999999" step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de teléfono.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese el email" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el email.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Ingrese direccion" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese la dirección.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit"  id="btn-create-modal" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalActualizar -->
    <div class="modal fade" id="ModalActualizar" tabindex="-1" aria-labelledby="ModalActualizarLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Actualizar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="formEditar" class="needs-validation" novalidate>
                                @Html.AntiForgeryToken()
                                <input type="number" name="idUpdate" id="idUpdate" class="form-control" readonly hidden>
                                <div class="form-group">
                                    <label for="cedulaUpdate">Cédula</label>
                                    <input type="number" name="cedulaUpdate" id="cedulaUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese su numero de cedula" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de la cédula.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombreUpdate">Nombres</label>
                                    <input type="text" name="nombreUpdate" id="nombreUpdate" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el nombre" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el Nombre.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="apellidoUpdate">Apellidos</label>
                                    <input type="text" name="apellidoUpdate" id="apellidoUpdate" class="form-control" onkeypress="return Solo_Texto(event);" placeholder="Ingrese el apellido" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el Apellido.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="numeroTelefonoUpdate">Número de Teléfono</label>
                                    <input type="number" name="numeroTelefonoUpdate" id="numeroTelefonoUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el Telefono" aria-describedby="invalid-feedback" min="3000000000" max="3999999999" step="1" required>
                                        <div class="invalid-feedback">
                                        Ingrese el número de teléfono.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="emailUpdate">Email</label>
                                    <input type="email" name="emailUpdate" id="emailUpdate" class="form-control" placeholder="Ingrese el email" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el email.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="direccionUpdate">Dirección</label>
                                    <input type="text" name="direccionUpdate" id="direccionUpdate" class="form-control" placeholder="Ingrese direccion" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese la dirección.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button"  id="btn-update-modal" class="btn btn-primary">actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla general -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Clientes
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número de Teléfono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número de Teléfono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                    </tr>
                </tfoot>
                @* Explicacion en el video 02/09 min 2:52:16 *@
                <tbody>
                    @foreach(var item in Model.listadoCliente){
                        <tr onclick="seleccionarRegistroTabla(this,'@item.Id','@item.Cedula','@item.Nombre','@item.Apellido','@item.NumeroTelefono','@item.Email', '@item.Direccion');">
                            <td>@item.Id</td>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.NumeroTelefono</td>
                            <td>@item.Email</td>
                            <td>@item.Direccion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
