@page
@model BikeStore.App.Web.Pages.GestionClientesModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gestion Clientes";
}

<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Clientes
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#exampleModal" onclick="editar('Clientes');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" onclick="crear('Clientes');">
            Crear
        </button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registro de Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="cedula">Cédula</label>
                                    <input type="number" name="cedula" id="cedula" class="form-control"
                                        placeholder="Ingrese su numero de cedula" aria-describedby="helpId"
                                        minlength="3" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="text" name="nombre" id="nombre" class="form-control" onkeypress="return Solo_Texto(event);"
                                        placeholder="Ingrese el nombre" aria-describedby="helpId" minlength="3"
                                        maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellidos</label>
                                    <input type="text" name="apellido" id="apellido" class="form-control"
                                        placeholder="Ingrese el apellido" aria-describedby="helpId" minlength="3"
                                        maxlength="50" onkeypress="return Solo_Texto(event);" required>
                                </div>
                                <div class="form-group">
                                    <label for="numeroTelefono">Número de Teléfono</label>
                                    <input type="number" name="numeroTelefono" id="numeroTelefono" class="form-control"
                                        placeholder="Ingrese el Telefono" aria-describedby="helpId" min="3000000000"
                                        max="3999999999" step="1" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                        placeholder="Ingrese el email" aria-describedby="helpId" minlength="3"
                                        maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" name="direccion" id="direccion" class="form-control"
                                        placeholder="Ingrese direccion" aria-describedby="helpId" minlength="3"
                                        maxlength="50" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit"  id="btn-create-modal" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Clientes
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número de Teléfono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                         <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número de Teléfono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                    </tr>
                </tfoot>
                <tbody>
                    @* Explicacion en el video 02/09 min 2:52:16 *@
                    @foreach(var item in Model.listadoCliente){
                        <tr onclick="seleccionarRegistro();">
                            <td>@item.Id</td>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.NumeroTelefono</td>
                            <td>@item.Email</td>
                            <td>@item.Direccion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
