@page
@model BikeStore.App.Web.Pages.InventarioModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gestion Inventario";
    ViewData["script"] = "Inventario.js"; 
}
<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Inventario
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-const" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#ModalContancia" hidden>
            Constancia
        </button>
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#ModalActualizar" onclick="editar('Inventario');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#ModalCrear" onclick="crear('Inventario');">
            Crear
        </button>
    </div>

    <!-- ModalCrear -->
    <div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCrearLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registrar Inventario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <label for="producto">Producto</label>
                                        <select name="producto" id="producto" class="form-control" required>
                                        @{
                                            if(Model.listadoInvPro.Count > 0)
                                            {
                                                <option value="" selected>Seleccionar...</option>
                                                foreach (var productosInv in Model.listadoInvPro)
                                                {
                                                    <option value="@productosInv.Id">@productosInv.Nombre</option>
                                                } 

                                            }else{
                                                <option value="">Todos los productos ya tienen inventario</option>
                                            }
                                            
                                        
                                            
                                        }        
                                        </select>
                                        <div class="invalid-feedback">
                                        Seleccionar un producto.
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="existencias">Existencias</label>
                                    <input type="number" name="existencias" id="existencias" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el número de existencias del producto" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de existencias del producto.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="numerorefcompra">Numero referencia de compra</label>
                                    <input type="number" name="numerorefcompra" id="numerorefcompra" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el numero de referencia de compra" aria-describedby="invalid-feedback" minlength="3"maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de referencia de compra.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="preciouniventa">Precio de venta por unidad</label>
                                    <input type="number" name="preciouniventa" id="preciouniventa" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el precio de venta por unidad" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el precio de venta por unidad.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="preciounicompra">Precio de compra por unidad</label>
                                    <input type="number" name="preciounicompra" id="preciounicompra" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el precio unidad de compra" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el precio de compra por unidad.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" id="btn-create-modal" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalActualizar -->
    <div class="modal fade" id="ModalActualizar" tabindex="-1" role="dialog" aria-labelledby="ModalActualizarLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registrar Inventario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post" action="" id="formEditar" class="needs-validation" novalidate>
                                @Html.AntiForgeryToken()
                                <input type="number" name="idUpdate" id="idUpdate" class="form-control" readonly hidden>
                                <div class="form-group">
                                    <label for="productoUpdate">Producto</label>
                                        <select name="productoUpdate" id="productoUpdate" class="form-control" required>
                                        <option value="">Seleccionar...</option>
                                        @foreach (var inventario in Model.listadoInventario)
                                        {
                                            @foreach (var productos in Model.listadoProducto){
                                                @if(inventario.ProductoId == productos.Id){<option id="productoUpdateId-@inventario.Id" value="@inventario.Id">@productos.Nombre</option>}
                                            } 
                                        }
                                        </select>
                                        <div class="invalid-feedback">
                                        Seleccionar un producto.
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="existenciasUpdate">Existencias</label>
                                    <input type="number" name="existenciasUpdate" id="existenciasUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el número de existencias del producto" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de existencias del producto.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="numeroRefCompraUpdate">Numero referencia de compra</label>
                                    <input type="number" name="numeroRefCompraUpdate" id="numeroRefCompraUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el numero de referencia de compra" aria-describedby="invalid-feedback" minlength="3"maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el número de referencia de compra.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="precioUniVentaUpdate">Precio de venta por unidad</label>
                                    <input type="number" name="precioUniVentaUpdate" id="precioUniVentaUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el precio de venta por unidad" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el precio de venta por unidad.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="precioUniCompraUpdate">Precio de compra por unidad</label>
                                    <input type="number" name="precioUniCompraUpdate" id="precioUniCompraUpdate" class="form-control" onkeypress="return Solo_Numeros(event);" placeholder="Ingrese el precio unidad de compra" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese el precio de compra por unidad.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" id="btn-update-modal" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ModalContancia -->
    <div class="modal fade" id="ModalContancia" tabindex="-1" role="dialog" aria-labelledby="ModalContanciaLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalContancia">Contancia de recibido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="producto">Producto</label>
                                    <input type="text" name="producto" id="producto" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="existencias">Existencias</label>
                                    <input type="number" name="existencias" id="existencias" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="numerorefcompra">Numero referencia de compra</label>
                                    <input type="number" name="numerorefcompra" id="numerorefcompra" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="preciouniventa">Precio unitario de venta</label>
                                    <input type="text" name="preciouniventa" id="preciouniventa" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="preciounicompra">Precio unitario de compra</label>
                                    <input type="text" name="preciounicompra" id="preciounicompra" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" readonly>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="imprimir('ModalContancia')">Imprimir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla general -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Inventario
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Existencias</th>
                        <th>Numero referencia de compra</th>
                        <th>Precio unitario de venta</th>
                        <th>Precio unitario de compra</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Existencias</th>
                        <th>Numero referencia de compra</th>
                        <th>Precio unitario de venta</th>
                        <th>Precio unitario de compra</th>
                    </tr>
                </tfoot>
                @* Explicacion en el video 02/09 min 2:52:16 *@
                <tbody>
                    @foreach(var item in Model.listadoInventario){
                        <tr onclick="seleccionarRegistroTabla(this,'@item.Id','@item.ProductoId','@item.Existencias','@item.NumeroRefCompra','@item.PrecioUniVenta','@item.PrecioUniCompra');">
                        <td>@item.Id</td>
                        @foreach (var productos in Model.listadoProducto)
                        {
                            @if(item.ProductoId == productos.Id){<td>@productos.Nombre</td>}
                        }
                        <td>@item.Existencias</td>
                        <td>@item.NumeroRefCompra</td>
                        <td>$ @item.PrecioUniVenta</td>
                        <td>$ @item.PrecioUniCompra</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>