@page
@model BikeStore.App.Web.Pages.InventarioModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gestion Inventario";
}
<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestion de Inventario
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-const" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#modalContancia" hidden>
            Constancia
        </button>
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" hidden>
            Eliminar
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#exampleModal" onclick="editar('Trabajador');" hidden>
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" onclick="crear('Trabajador');">
            Crear
        </button>
    </div>

    <!-- Modal Crear y actualizar Inventario -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Registro de Inventario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="producto">Producto</label>
                                        <select name="producto" class="form-control">
                                        <option selected>Seleccionar...</option>
                                        @foreach (var producto in Model.listadoProducto)
                                        {
                                            <option value="@producto.Id">@producto.Nombre id=@producto.Id</option>
                                        }
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="existencias">Existencias</label>
                                    <input type="number" name="existencias" id="existencias" class="form-control"
                                        placeholder="Ingrese la cantidad de los productos" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="numerorefcompra">Numero referencia de compra</label>
                                    <input type="number" name="numerorefcompra" id="numerorefcompra" class="form-control"
                                        placeholder="Ingrese el numero de referencia de compra" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="preciouniventa">Precio unidad de venta</label>
                                    <input type="number" name="preciouniventa" id="preciouniventa" class="form-control"
                                        placeholder="Ingrese el precio de la unidad de venta" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="preciounicompra">Precio unidad de compra</label>
                                    <input type="number" name="preciounicompra" id="preciounicompra" class="form-control"
                                        placeholder="Ingrese el precio unidad de compra" aria-describedby="helpId" minlength="3"
                                        maxlength="50">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" id="btn-create-modal" class="btn btn-primary" data-toggle="modal" data-target="#modalContancia">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contancia de recibido-->
    <div class="modal fade" id="modalContancia" tabindex="-1" role="dialog" aria-labelledby="modalContancia"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalContancia">Contancia de recibido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="producto">Producto</label>
                                    <input type="text" name="producto" id="producto" class="form-control"
                                        placeholder="Ingrese el nombre del producto" aria-describedby="helpId"
                                        minlength="3" value="Biciclete Extreme" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="existencias">Existencias</label>
                                    <input type="number" name="existencias" id="existencias" class="form-control"
                                        placeholder="Ingrese la cantidad de los productos" aria-describedby="helpId" minlength="3"
                                        maxlength="50" value="50" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="numerorefcompra">Numero referencia de compra</label>
                                    <input type="number" name="numerorefcompra" id="numerorefcompra" class="form-control"
                                        placeholder="Ingrese el numero de referencia de compra" aria-describedby="helpId" minlength="3"
                                        maxlength="50" value="43001" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="preciouniventa">Precio unitario de venta</label>
                                    <input type="text" name="preciouniventa" id="preciouniventa" class="form-control"
                                        placeholder="Ingrese el precio de la unidad de venta" aria-describedby="helpId" minlength="3"
                                        maxlength="50" value="$ 433.001" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="preciounicompra">Precio unitario de compra</label>
                                    <input type="text" name="preciounicompra" id="preciounicompra" class="form-control"
                                        placeholder="Ingrese el precio unidad de compra" aria-describedby="helpId" minlength="3"
                                        maxlength="50" value="$ 233.001" readonly>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" onclick="imprimir('modalContancia')">Imprimir</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Inventario
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Existencias</th>
                        <th>Numero referencia de compra</th>
                        <th>Precio unitario de venta</th>
                        <th>Precio unitario de compra</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Existencias</th>
                        <th>Numero referencia de compra</th>
                        <th>Precio unitario de venta</th>
                        <th>Precio unitario de compra</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var item in Model.listadoInventario){
                        <tr onclick="seleccionarRegistro();">
                        <td>@item.Id</td>
                        <td>@item.Producto</td>
                        <td>@item.Existencias</td>
                        <td>@item.NumeroRefCompra</td>
                        <td>@item.PrecioUniVenta</td>
                        <td>@item.PrecioUniCompra</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>